ADMIN_EMAIL=FirstAdminEmail@myEmail.com
ADMIN_PASSWORD=MyPassword123!

JWT_KEY=super_secret_key_very_long

DB_HOST=localhost
DB_PORT=5432
DB_NAME=modularcommerce
DB_USER=your_db_user
DB_PASSWORD=your_db_password

SMTP_HOST=your_smtp_host
SMTP_PORT=your_smtp_port
SMTP_USER=your_smtp_user
SMTP_PASS=your_smtp_password

STORAGE_RECEIPTS_PATH=your_receipts_storage_path
CLOUDINARY_CLOUDNAME=your_cloudinary_cloudname
CLOUDINARY_APIKEY=your_cloudinary_apikey
CLOUDINARY_APISECRET=your_cloudinary_apisecret